.delete .ant-modal-body .delete-content {
    padding: 0;
}

.delete-question {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;
}

.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    width: 121px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #f24445;
    background: white;
    color: #f24445;
    padding: 12px 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.1px;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.delete-button:hover {
    background: #f24445;
    color: white;
    border: 1px solid #f24445;
}

.delete-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 0;
}

.delete-icon {
    margin-right: 12px;
}

.form-location {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1e212a;
}

.form-label {
    position: relative;
}

.form-info .ant-form-item-control-input-content {
    display: flex;
}

.form-info .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
}

.form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.form-icon_checkbox.form-icon {
    margin-left: 6px;
}

.form-work_week .ant-form-item-label,
.form-label_checkbox {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: start;
}

.form-label_checkbox .ant-checkbox + span {
    padding-right: 0px;
}

.form-work_week .ant-form-item-label {
    width: 120px;
}

.form-label .ant-form-item-label {
    position: absolute;
    top: -12px;
    left: 6px;
    z-index: 35;
    background: white;
    padding: 0 6px;
}

.form-leave_police {
    background: #eef7fc;
    border-radius: 6px;
    padding: 8px 12px;
    border: 1px solid #00a0ec;
}

.form-leave_police__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #1e212a;
    margin: 0;
}

.form-leave_police__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #00a0ec;
    cursor: pointer;
}

.form-button {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.1px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.form-button_cancel {
    background: #afb6c6;
}

.form-button_cancel:hover {
    background: rgba(134, 140, 152, 0.7);
}

.form-button_create {
    background: linear-gradient(
        0deg,
        rgba(0, 160, 236, 0.7),
        rgba(0, 160, 236, 0.7)
    );
}

.form-button_create:hover {
    background: #0683dd;
    color: #fff;
}

.form-button_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.form-label .ant-form-item-label label {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #1e212a;
}

.form-users_warning {
    display: flex;
    align-items: flex-start;
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #868c98;
}
.ant-checkbox + span {
    padding-right: 0;
}

.ant-modal-body {
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
}

.ant-modal-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #1e212a;
}

.ant-input,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-number {
    border-radius: 4px;
}

.ant-tooltip-inner {
    padding: 8px 12px;
    min-width: 350px;
    border-radius: 4px;
    font-size: 11px;
}

.ant-form-item-label > label {
    height: 0;
}

.ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
    display: none;
}

.ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
    display: inline-block;
    top: -3px;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 13px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.ant-form-item-label > label:after {
    display: none;
}

.ant-modal-content {
    border-radius: 12px;
    overflow: hidden;
}

.ant-modal-header {
    padding: 16px 24px;
    background: #f6f7fb;
}

.ant-input:placeholder-shown {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #afb6c6;
}

.ant-input {
    height: 40px;
    border-radius: 4px;
}

.ant-select-selector {
    min-height: 40px;
}

.ant-form-item-control {
    width: 100%;
}

.ant-form-item-control input {
    height: 40px;
}

.ant-select-selection-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
}

.ant-tag-close-icon {
    color: #00a0ec;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 40px;
}

.ant-input-number-prefix {
    order: 1;
    margin-inline-end: 16px;
}
