.sideMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #f5f9fe;
    border-right: 2px solid #eef7fc;
    width: 100px;
    padding: 24px 15px;
}
.sideMenu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.sideMenu-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    cursor: pointer;
    color: #afb6c6;
}

.sideMenu-list li:first-child {
    margin-top: 0px;
}

.sideMenu-list li img {
    margin-bottom: 8px;
}

.sideMenu-img_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sideMenu-img-avatar {
    margin-top: 24px;
}
.sideMenu-img-notification {
    width: 16px;
    height: 16px;
}

.sideMenu-list li:hover {
    background: #eef7fc;
}
