.subMenu {
    overflow: hidden;
    padding: 24px 0;
    height: 100%;
    background: #f5f9fe;
    transition: all 0.2s;
}
.subMenu-list {
    padding: 0 24px 8px;
}

.subMenu-list_item {
    margin: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #1e212a;
    margin-top: 16px;
    cursor: pointer;
}

.subMenu-list_item_wrapper {
    display: flex;
    align-items: center;
}

.subMenu-list_item_icon {
    margin-right: 12px;
    color: #afb6c6;
}

.subMenu-list_item_icon.active {
    color: #00a0ec;
}

.subMenu-list_item_wrapper.active {
    color: #00a0ec;
}

.subMenu-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #afb6c6;
    margin: 0 0 16px 24px;
}

.subMenu-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    right: -12px;
    top: 78px;
    background: #ffffff;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.05),
        2px 2px 15px rgba(0, 44, 175, 0.05);
    border-radius: 12px;
}

.subMenu-button:focus {
    border: none;
}

.subMenu-nested-list {
    margin-left: 56px;
}

.subMenu-nested-list_item {
    list-style-type: none;
    padding: 8px 0 8px 56px;
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
    color: #1e212a;
}

.subMenu-nested-list_item.active {
    background: #eef7fc;
}
